body {
	font-size: 14px;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
}
.container {
	width: 400px;
}
.achievement-container {
	background-color: #F9F3FF;
	overflow: hidden;
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, .1);
}
.achievement-container > small {
	float: left;
	width: 100%;
	background-color: rgba(0, 0, 0, .1);
}
.achievement-container > small > .tier {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, .1);
	margin: 0px -1px -1px -1px;
	padding: 10px 0;
	width: 25%;
	text-align: center;
	font-weight: bold;
	color: #230046;
}
.achievement-container > .icon,
.achievement-container > .title {
	float: left;
}
.achievement-container > .icon {
	height: 50px;
}
.section {
	
}
.section-title {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin: 0;
}

@media (max-width: 600px) {
	.container {
		width: 100%;
	}
	.achievement-container > .icon{
		/*display: none;*/
	}
	.achievement-container > .title {
		width: 100%;
		padding-left: 20px;
		float: none;
	}
}
