body {
	font-size: 14px;
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	background-color: #EEE;
}
.the-father-of-containers {
	width: 1000px;
	margin: 0 auto;
}
.container {
	margin: 0 auto;
	width: 500px;
	float: left;
}
.achievement-container {
	background-color: #F9F3FF;
	overflow: hidden;
	margin: 5px;
	border: 1px solid rgba(0, 0, 0, .1);
	position: relative;
}
.achievement-container .toggle-unwanted {
	position: absolute;
	right: 5px;
	top: 5px;
	cursor: pointer;
	font-size: 0.8em;
}
.achievement-container .toggle-unwanted.no {
	color: red;
}
.achievement-container .toggle-unwanted.yes {
	color: green;
}
.achievement-container.unwanted {
	-webkit-opacity: 0.2;
	-moz-opacity: 0.2;
	-ms-opacity: 0.2;
	-o-opacity: 0.2;
	opacity: 0.2;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.achievement-container.unwanted:hover {
	-webkit-opacity: 1;
	-moz-opacity: 1;
	-ms-opacity: 1;
	-o-opacity: 1;
	opacity: 1;
}
.achievement-container > small {
	float: left;
	width: 100%;
	background-color: rgba(0, 0, 0, .1);
}
.achievement-container small.nameFractal {
	padding: 3px 5px;
}
.achievement-container > small > .tier {
	display: inline-block;
	border: 1px solid rgba(0, 0, 0, .1);
	margin: 0px -1px -1px -1px;
	padding: 10px 0;
	width: 25%;
	text-align: center;
	font-weight: bold;
	color: #230046;
	cursor: pointer;
}
.achievement-container > small > .tier.done {
	background-color: #EDFFDA;
	color: #366539;
}
.achievement-container > .icon,
.achievement-container > .title {
	float: left;
}
.achievement-container > .icon {
	height: 50px;
}
.section {
	margin: 15px;
	border: 1px solid rgba(0, 0, 0, .1);
	padding: 15px;
	background-color: #FFF;
}
.section-title {
	background-color: #333;
	color: #FFF;
	padding: 20px;
	margin: -15px -15px 15px -15px;
}
.header {
	background-color: mediumpurple;
	color: #FFF;
	padding: 20px;
	margin: 16px 16px -16px 16px;
	font-size: 20px;
	font-weight: bold;
}
.bg-ar {
	background-color: #AA2A2A;
}
.text-ar {
	color: #AA2A2A;
}
.text-center {
	text-align: center;
}
.ar-input {
	padding: 5px 10px;
	border: 1px solid rgba(0, 0, 0, .1);
	font-size: 2em;
	max-width: 30px;
}
.ar-plus {
	font-size: 2em;
}
.ar-result-container {
	font-size: 2em;
	margin-top: 10px;
}
.ar-result-container img {
	max-width: 20px;
	max-height: 20px;
}

@media (max-width: 800px) {
	.the-father-of-containers {
		width: 100%;
		margin: 0 auto;
	}
	.container {
		width: 100%;
		float: none;
	}
	.achievement-container > .icon{
		/*display: none;*/
	}
	.achievement-container > .title {
		width: 100%;
		padding-left: 20px;
		float: none;
	}
}
